.field-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.field-group:nth-last-child(1) {
    margin-bottom: 0;
}

.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal {
    justify-content: space-between;
}

.button-center,
.button-right {}

.button-center.horizontal,
.button-right.horizontal {
    justify-content: flex-end;
}

.button-center button,
.button-right button {
    flex-grow: 0;
}

.button-center {
    align-items: center;
}

.button-right {
    align-items: flex-end;
}