.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    background-color: var(--default-bg);
    border-right: 2px solid var(--border-color);
}

.org-label h2 {
    margin: 0;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}