.filterbar {

    padding: 0.6rem;
    background-color: var(--default-bg);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.search-and-reset {
    display: flex;
    justify-content: space-between;
}

.filters {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}