table {
    table-layout: fixed;
    border-collapse: collapse;
    /* border: 2px solid var(--border-color); */
}

thead {
    background-color: var(--dark-bg);
}

th,
td {
    text-align: center;
    padding: 0.6rem;
}

tr {
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
}

tbody tr:nth-last-child(1) {
    border-bottom: none;
}

.table-row-controls button {
    margin-left: .5rem;
}