.container {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.data-panel-header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    padding-bottom: 0;
}

.data-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--default-bg);
    border: 2px solid var(--border-color);
    border-radius: 1rem;
}

.no-data {
    border-radius: inherit;
    padding: 0.6rem;
}