.button {
    cursor: pointer;
    background-color: var(--default-bg);
    border: 2px solid var(--border-color);
    padding: 0.6rem;
    border-radius: 0.5rem;
}

.button:disabled {
    cursor: default;
}