.section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-xl);
    box-shadow: var(--card-shadow);
    background-color: var(--default-bg);
    max-height: 95vh;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.25rem;
}