.header {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
    background-color: var(--default-bg);
    border-bottom: 2px solid var(--border-color);
}

.user {
    display: flex;
    gap: 1rem;
}

.user div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}